/* see the brand guide for colors, fonts, and images in CodePen: 
https://docs.google.com/document/d/13de5zlWmnox1BbZOiKo1p7tsirkgv0IQLG_bg1R60uE/edit?usp=sharing */

$gulp-blue: #082B59;
$gulp-brown: #59331d;
$gulp-orange: #d98555;

@mixin configSpace($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

body {
    // remove default margin
    @include configSpace(0, 0);
    background-color: $gulp-blue;
    font-family: 'Lato', sans-serif;
    line-height: 2;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0;
}
/* make images flexible */
img {
    max-width: 100%;
}
a {
    color: $gulp-brown;
    &:hover {
        text-decoration: none;
    }
}
header {
    border-bottom: 10px solid $gulp-orange;
}
/* navbar styling */
nav {
    ul {
        @include configSpace(0, 0);
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    li {
        margin: 0 1rem 1rem 1rem;
        font-size: 1.3rem;
    }
    .logo {
        /* flex basis on the image container, li */
        flex-basis: 100%;
        text-align: center;
        img {
            /* max width on the image in pixels */
            max-width: 150px;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        display: block;
        &:hover {
            color: $gulp-orange;
        }
    }
}
/* establishes a white background */
.main-bkgd {
    background: #fff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
}
/* sits inside of the white background, centered */
.main {
    max-width: 1200px;
    @include configSpace(2rem, 0 auto);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
article {
    flex-basis: 73%;
}
figure {
    margin: 3rem 0 0 0;
    flex-basis: 25%;
    background-color: $gulp-brown;
    border-radius: 10px;
    max-width: 500px; // same as image
    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
figcaption {
    color: #f2f2f2;
    padding: 0.5rem;
}
.button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    @include configSpace(0.5rem 1rem, 0);
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid $gulp-brown;
    &:hover {
        background-color: #f2f2f2;
        color: $gulp-brown;
    }
}
footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid $gulp-orange;
    ul {
        list-style-type: none;
        @include configSpace(0, 0);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    a {
        color: #f2f2f2;
        font-size: 2rem;
        display: block;
        @include configSpace(0, 0 1rem 3rem 1rem);
    }
}



@media (min-width: 320px) and (max-width: 600px) {
    nav {
        ul {
            flex-flow: column nowrap;
            align-items: center;
        }
        li {
            margin: 1rem;
        }
    }
    .main {
        flex-flow: column wrap;
    }
    article {
        .button {
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    article {
        flex-basis: 53%;
    }
    figure {
        flex-basis: 43%;
        max-width: 308px; // same as image
        img {
            height: 500px;
            object-fit: cover;
        }
    }
}

@media (min-width: 1001px) {
    article {
        flex-basis: 48%;
    }
    figure {
        flex-basis: 48%;
    }
    nav {
        ul {
            flex-flow: row nowrap;
        }
        .logo {
            text-align: start;
            margin: 1rem;
        }
        li {
            margin: 1rem 1rem 0rem 1rem;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            gap: 3px;
        }
        a {
            display: contents;
        }
    }
}